<h3>@ViewBag.Fecha</h3>
<br />
<h1>@ViewBag.Title</h1>
<br />
<h3>@Html.ActionLink("Ir a Vuelos", "Index", "Vuelo")</h3>

<div>
    @section ZonaOpcional
    {
        <img id="imgciudad1" src="~/Images/imagenA.jpg" />
        <img id="imgciudad2" src="~/Images/imagenB.jpg" />
    }
</div>